# Data Preparation
#### Claudia Gabriela Ochoa Martinez (2020)
## Loading Data

In [1]:
Daticatt <- read.csv("Dati-originali/datticatture.csv", dec=",", sep=";", header = TRUE)
Datitrap <- read.csv("Dati-originali/dattitrappole.csv", dec=",", sep=";", header = TRUE)
Datioccas <- read.csv("Dati-originali/sforzocampionamento.csv", dec=",", sep=";", header = TRUE)

#### I dati delle trappole non hanno bisogno di particolari modifiche

In [2]:
# Rimuoviamo le righe che non hanno un ID_TRAP - problema in fase di export da Excel
Datitrap <- Datitrap[!is.na(Datitrap$ID_TRAP), ]

head(Datitrap)

  ID_TRAP SESSIONE data.attivazione occasione.attivazione ED50.Coord.X
1 1       1        16/07/2015       5                     367387
2 2       1        14/07/2015       1                     367395
3 3       1        14/07/2015       1                     367400
4 4       1        14/07/2015       1                     367409
5 5       1        14/07/2015       1                     367418
6 6       1        14/07/2015       1                     367426
  ED50.Coord.Y WGS84.Coord.Long   WGS84.Coord.Lat    Diametro.roccia.1..cm.
1 5048252      7.299334169216124  45.57336733566606   59
2 5048256      7.299435567549568  45.57340484970021  176
3 5048260      7.299498534160594  45.57344179138952   51
4 5048262      7.2996132865560055 45.57346150207162   99
5 5048265      7.29972776745971   45.573490209615734 164
6 5048265      7.299830252520922  45.573491735399855 130
  Diametro.roccia.2..cm. ... X..COP..VEG..2015 X..COP..VEG..2018 ottavi_veg2018
1 96                     ... 45                62.5              5
2 42                     ... 35                25.0              2
3 88                     ... 25                25.0              2
4 30                     ... 50                62.5              5
5 41                     ... 25                25.0              2
6 31                     ... 55                50.0              4
  NUMERO.SPECIE SPECIE.DOMINANTE distanza.trappole..cm...da.75a1.
1 23            Graminacee         NA
2 16            Graminacee        920
3 13            Graminacee        891
4 23            Graminacee        774
5 21            Graminacee        697
6 20            Graminacee       1108
  angolo.trappole..gradi.AZ..da75a1. X  X.1 X.2
1  NA                                NA NA  NA
2 264                                NA NA  NA
3 249                                NA NA  NA
4 232                                NA NA  NA
5 243                                NA NA  NA
6 254                                NA NA  NA

#### I dati sullo sforzo di campionamento verranno modificati includendo la data in formato R e l'anno

In [3]:
Datioccas <- Datioccas[!is.na(Datioccas$occasione), ]

Datioccas["Data_R"] <- as.Date(Datioccas$DATA, "%d/%m/%Y")
Datioccas["Anno"] <- format(Datioccas["Data_R"],"%Y")
# Eliminiamo la vecchia colonna Data
Datioccas <- subset( Datioccas, select = -DATA)

head(Datioccas)

  occasione ALBA..A.T. sessione trappole.posizionate trappoleattive
1 1         T          2        30                   30
2 2         A          2        50                   50
3 3         T          2        70                   68
4 4         A          2        70                   70
5 5         T          2        70                   70
6 6         A          2        70                   70
  n..trappole.inattive ID.trappole.inattive neve....S.N.
1 0                    NA                   N
2 0                    NA                   N
3 2                    51/56                N
4 0                    NA                   N
5 0                    NA                   N
6 0                    NA                   N
  copertura.nuvolosa....8. Sito  DOY X  Data_R     Anno
1 2/8                      COGNE 243 NA 2014-08-31 2014
2 5/8                      COGNE 244 NA 2014-09-01 2014
3 0/8                      COGNE 244 NA 2014-09-01 2014
4 0/8                      COGNE 245 NA 2014-09-02 2014
5 0/8                      COGNE 245 NA 2014-09-02 2014
6 0/8                      COGNE 246 NA 2014-09-03 2014

#### I dati delle catture vanno puliti. Andiamo a rimuovere i campi vuoti ed indeterminati, sostituendoli con NA

In [4]:
Daticatt[Daticatt==""] <- NA
Daticatt[Daticatt=="IND"] <- NA

In [5]:
# Per usi futuri
#Daticatt["Marcatura"] <- paste(Daticatt$chip,Daticatt$pelo)

#### Trasformiamo la Data in formato comprensibile da R ed aggiungiamo una colonna per semplificare le analisi di anno in anno

In [ ]:
Daticatt["Data_R"] <- as.Date(Daticatt$DATA, "%d/%m/%Y")
Daticatt["Anno"] <- format(Daticatt["Data_R"],"%Y")
# Eliminiamo la vecchia colonna Data
Daticatt <- subset( Daticatt, select = -DATA)

In [ ]:
head(Daticatt)

#### Per alcune analisi, risulta utile unire il dataframe delle catture con quello delle trappole

In [ ]:
mergedData <- merge(Daticatt, Datitrap, by.x=c("ID_TRAPPOLA"), by.y=c("ID_TRAP"))

In [ ]:
head(mergedData)

### Sono stati creati e salvati i nuovi dataframe da utilizzare per le analisi

In [6]:
write.csv2(Daticatt,"Dati-elaborati\\Dati-catture.csv", row.names = FALSE)
write.csv2(Datitrap,"Dati-elaborati\\Dati-trappole.csv", row.names = FALSE)
write.csv2(Datioccas,"Dati-elaborati\\Dati-occasioni.csv", row.names = FALSE)
write.csv2(mergedData,"Dati-elaborati\\Dati-catture-trappole.csv", row.names = FALSE)

ERROR: Error in is.data.frame(x): oggetto "mergedData" non trovato