## Dati Meteo
### Claudia Gabriela Ochoa Martinez (2020)

### Loading Data
#### I dati relativi alle precipitazioni, temperature sono stati reperiti dal Centro Funzionale - Regione autonoma della Valle D'aosta 
##### https://cf.regione.vda.it/ // Scheda stazione meteo "Cogne - Grand Crot"
##### Questi dati sono serviti a rilevare la temperatura e precipitazioni al momento di ogni occasione di controllo delle trappole, i file sono stati salvati sulla directory in formato .CSV dopo essere stati elaborati utilizzando la metodologia Tidy data su Excel

In [1]:
#carichiamo i dati relativi al meteo interessati
files_termometro <- list.files("Dati-originali\\dati_meteo_vda\\", pattern=".*Grand-Crot-Termometro.csv", recursive=TRUE, full.names=TRUE)
files_pluviometro <- list.files("Dati-originali\\dati_meteo_vda\\", pattern=".*Grand-Crot-Pluviometro.csv", recursive=TRUE, full.names=TRUE)

In [2]:
precipitazioni_grand_crot <- do.call(rbind, lapply(files_pluviometro, function(x) read.csv(x, dec=",", sep=";", header = TRUE )))
temperatura_grand_crot = do.call(rbind, lapply(files_termometro, function(x) read.csv(x, dec=",", sep=";", header = TRUE )))

##### è stato creato un solo dataframe con relativa data, misurazione precipitazione e temperatura

In [3]:
#precipitazioni_grand_crot$precipitazioni <- lapply(precipitazioni_grand_crot$precipitazioni, function(x) ifelse(is.na(x),"-1",x))
#precipitazioni_grand_crot$precipitazioni <- as.character(precipitazioni_grand_crot$precipitazioni)              
#temp_prec_grand_crot <- merge(precipitazioni_grand_crot,temperatura_grand_crot, by = "Data_Ora_R", all=TRUE)
temp_prec_grand_crot <- cbind(precipitazioni_grand_crot,temperatura_grand_crot$temperatura)
tail(temp_prec_grand_crot)

      orario           precipitazioni temperatura_grand_crot$temperatura
87643 30/09/2018 21:00 0.2            1.9
87644 30/09/2018 21:30 0.0            2.1
87645 30/09/2018 22:00 0.0            1.8
87646 30/09/2018 22:30 0.0            2.2
87647 30/09/2018 23:00 0.0            2.4
87648 30/09/2018 23:30 0.0            2.7

##### Le variabili "Data", sono state trasformate in un formato riconosciuto da R per semplicare future analisi

In [4]:
temp_prec_grand_crot["Orario_R"] <- strftime(as.POSIXct(temp_prec_grand_crot$orario, format="%d/%m/%Y %H:%M", tz = "Europe/Rome"), format="%H:%M")
temp_prec_grand_crot["Data_R"]   <- strftime(as.POSIXct(temp_prec_grand_crot$orario, format="%d/%m/%Y %H:%M", tz = "Europe/Rome"), format="%d-%m-%Y")
temp_prec_grand_crot <- subset( temp_prec_grand_crot, select = -orario)
tail(temp_prec_grand_crot)

      precipitazioni temperatura_grand_crot$temperatura Orario_R Data_R
87643 0.2            1.9                                21:00    30-09-2018
87644 0.0            2.1                                21:30    30-09-2018
87645 0.0            1.8                                22:00    30-09-2018
87646 0.0            2.2                                22:30    30-09-2018
87647 0.0            2.4                                23:00    30-09-2018
87648 0.0            2.7                                23:30    30-09-2018

In [5]:
colnames(temp_prec_grand_crot) <- c("Precipitazioni","Temperatura.C","Orario.R","Data.R")
tail(temp_prec_grand_crot)

      Precipitazioni Temperatura.C Orario.R Data.R
87643 0.2            1.9           21:00    30-09-2018
87644 0.0            2.1           21:30    30-09-2018
87645 0.0            1.8           22:00    30-09-2018
87646 0.0            2.2           22:30    30-09-2018
87647 0.0            2.4           23:00    30-09-2018
87648 0.0            2.7           23:30    30-09-2018

#### Salviamo il nuovo file .csv nella directory

In [6]:
write.csv2(temp_prec_grand_crot,"Dati-elaborati\\Dati_precip-temp_grand-crot.csv", row.names = FALSE)