# Data Preparation
#### Claudia Gabriela Ochoa Martinez (2020)
## Loading Data

In [1]:
Daticatt <- read.csv("Dati-originali/datticatture.csv", dec=",", sep=";", header = TRUE)
Datitrap <- read.csv("Dati-originali/dattitrappole.csv", dec=",", sep=";", header = TRUE)

#### I dati delle trappole non hanno bisogno di particolari modifiche

In [2]:
head(Datitrap)

  ID_TRAP SESSIONE data.attivazione occasione.attivazione ED50.Coord.X
1 1       1        16/07/2015       5                     367387
2 2       1        14/07/2015       1                     367395
3 3       1        14/07/2015       1                     367400
4 4       1        14/07/2015       1                     367409
5 5       1        14/07/2015       1                     367418
6 6       1        14/07/2015       1                     367426
  ED50.Coord.Y WGS84.Coord.Long   WGS84.Coord.Lat    Diametro.roccia.1..cm.
1 5048252      7.299334169216124  45.57336733566606   59
2 5048256      7.299435567549568  45.57340484970021  176
3 5048260      7.299498534160594  45.57344179138952   51
4 5048262      7.2996132865560055 45.57346150207162   99
5 5048265      7.29972776745971   45.573490209615734 164
6 5048265      7.299830252520922  45.573491735399855 130
  Diametro.roccia.2..cm. Diametro.roccia.3..cm. X..COP..VEG. NUMERO.SPECIE
1 96                     102                    45           23
2 42                      76                    35           16
3 88                      62                    25           13
4 30                      36                    50           23
5 41                      47                    25           21
6 31                      36                    55           20
  SPECIE.DOMINANTE distanza.trappole..cm...da.75a1.
1 Graminacee         NA
2 Graminacee        920
3 Graminacee        891
4 Graminacee        774
5 Graminacee        697
6 Graminacee       1108
  angolo.trappole..gradi.AZ..da75a1. X  X.1 X.2
1  NA                                NA NA  NA
2 264                                NA NA  NA
3 249                                NA NA  NA
4 232                                NA NA  NA
5 243                                NA NA  NA
6 254                                NA NA  NA

#### I dati delle catture vanno puliti. Andiamo a rimuovere i campi vuoti ed indeterminati, sostituendoli con NA

In [3]:
Daticatt[Daticatt==""] <- NA
Daticatt[Daticatt=="IND"] <- NA

In [4]:
# Per usi futuri
#Daticatt["Marcatura"] <- paste(Daticatt$chip,Daticatt$pelo)

#### Trasformiamo la Data in formato comprensibile da R ed aggiungiamo una colonna per semplificare le analisi di anno in anno

In [5]:
Daticatt["Data_R"] <- as.Date(Daticatt$DATA, "%d/%m/%Y")
Daticatt["Anno"] <- format(Daticatt["Data_R"],"%Y")
# Eliminiamo la vecchia colonna Data
Daticatt <- subset( Daticatt, select = -DATA)

In [6]:
head(Daticatt)

  ID_cattura ALBA sessione occasione ID_TRAPPOLA chip    ricattura pelo
1 1          T    1        1         11          1315302 N         NA
2 2          A    1        2         6           NA      N         SI
3 3          A    1        2         11          NA      N         SI e
4 4          A    1        2         35          1314921 N         NA
5 5          A    1        2         45          1314375 N         NA
6 6          T    1        3         26          1314305 N         NA
  peso..g. sex eta statoripr NOTE DOY Data_R     Anno
1 36       F   A   NR        NA   243 2014-08-31 2014
2 35       F   A   NR        NA   244 2014-09-01 2014
3 41       M   A   R         NA   244 2014-09-01 2014
4 39       F   A   NA        NA   244 2014-09-01 2014
5 33       M   G   NR        NA   244 2014-09-01 2014
6 45       M   A   R         NA   244 2014-09-01 2014

In [7]:
#### Per alcune analisi, risulta utile unire il dataframe delle catture con quello delle trappole

In [8]:
mergedData <- merge(Daticatt, Datitrap, by.x=c("ID_TRAPPOLA"), by.y=c("ID_TRAP"))

In [9]:
head(mergedData)

  ID_TRAPPOLA ID_cattura ALBA sessione occasione chip    ricattura pelo
1 10          19         A    1        10        NA      R         SI 8
2 10          14         A    1        12        1317018 R         E
3 10          33         A    2         3        NA      N         Eg/Fg
4 11          28         A    1        13        NA      R?        D/Fb
5 11           3         A    1         2        NA      N         SI e
6 11          60         A    2        11        NA      N         Eg/Fb
  peso..g. sex ... Diametro.roccia.2..cm. Diametro.roccia.3..cm. X..COP..VEG.
1 31       F   ... 34                     41                     35
2 34       F   ... 34                     41                     35
3 31       M   ... 34                     41                     35
4 27       M   ... 36                     55                      5
5 41       M   ... 36                     55                      5
6 25       F   ... 36                     55                      5
  NUMERO.SPECIE SPECIE.DOMINANTE distanza.trappole..cm...da.75a1.
1 20            Graminacee        833
2 20            Graminacee        833
3 20            Graminacee        833
4  7            Oxyria digyna    1166
5  7            Oxyria digyna    1166
6  7            Oxyria digyna    1166
  angolo.trappole..gradi.AZ..da75a1. X  X.1 X.2
1 298                                NA NA  NA
2 298                                NA NA  NA
3 298                                NA NA  NA
4 304                                NA NA  NA
5 304                                NA NA  NA
6 304                                NA NA  NA

### Sono stati creati e salvati i nuovi dataframe da utilizzare per le analisi

In [11]:
write.csv(Daticatt,"Dati-elaborati\\Dati-catture.csv", row.names = FALSE)
write.csv(Datitrap,"Dati-elaborati\\Dati-trappole.csv", row.names = FALSE)
write.csv(mergedData,"Dati-elaborati\\Dati-catture-trappole.csv", row.names = FALSE)