# Data Preparation
#### Claudia Gabriela Ochoa Martinez (2020)
## Loading Data

In [1]:
# CSV Raccolta dati
Daticatt <- read.csv("Dati-originali/daticatture.csv", dec=",", sep=";", header = TRUE)
Datitrap <- read.csv("Dati-originali/datitrappole.csv", dec=",", sep=";", header = TRUE)
Datioccas <- read.csv("Dati-originali/sforzocampionamento.csv", dec=",", sep=";", header = TRUE)
# CSV Meteo
temp_prec_grand_crot <- read.csv("Dati-elaborati\\Dati_precip-temp_grand-crot.csv", dec=",", sep=";", header = TRUE)

### Dati Metereologici

In [2]:
# Convertiamo i dati con un formato riconoscibile da R
temp_prec_grand_crot["Data.R"]   <- as.Date(temp_prec_grand_crot$Data.R, format="%d-%m-%Y")
head(temp_prec_grand_crot)

  Precipitazioni Temperatura.C Orario.R Data.R
1 0              4.7           00:00    2013-10-01
2 0              4.9           00:30    2013-10-01
3 0              4.7           01:00    2013-10-01
4 0              4.5           01:30    2013-10-01
5 0              4.9           02:00    2013-10-01
6 0              4.8           02:30    2013-10-01

### Dati Trappole

In [3]:
# Rimuoviamo le righe che non hanno un ID_TRAP - problema in fase di export da Excel
Datitrap <- Datitrap[!is.na(Datitrap$ID_TRAP), ]

# Convertiamo la copertura vegetale in ottavi
Datitrap$Cop_Veg_2015_ottavi <- Datitrap$X..COP..VEG..2015 / 100*8
Datitrap$Cop_Veg_2018_ottavi <- Datitrap$X..COP..VEG..2018 / 100*8

head(Datitrap)

  ID_TRAP SESSIONE data.attivazione occasione.attivazione ED50.Coord.X
1 1       1        16/07/2015       5                     367387
2 2       1        14/07/2015       1                     367395
3 3       1        14/07/2015       1                     367400
4 4       1        14/07/2015       1                     367409
5 5       1        14/07/2015       1                     367418
6 6       1        14/07/2015       1                     367426
  ED50.Coord.Y WGS84.Coord.Long       WGS84.Coord.Lat
1 5048252      7.299.334.169.216.120  4.557.336.733.566.600
2 5048256      7.299.435.567.549.560  4.557.340.484.970.020
3 5048260      7.299.498.534.160.590  4.557.344.179.138.950
4 5048262      72.996.132.865.560.000 4.557.346.150.207.160
5 5048265      729.972.776.745.971    45.573.490.209.615.700
6 5048265      7.299.830.252.520.920  45.573.491.735.399.800
  Diametro.roccia.1..cm. Diametro.roccia.2..cm. ... aspect_deg slope_degr
1  59                    96                     ... 234        13
2 176                    42                     ... 294        16
3  51                    88                     ... 310         0
4  99                    30                     ... 293         8
5 164                    41                     ... 294        11
6 130                    31                     ... 310         7
  X..COP..VEG..2015 X..COP..VEG..2018 n_species dominant
1 45                62.5              23        Graminacee
2 35                25.0              16        Graminacee
3 25                25.0              13        Graminacee
4 50                62.5              23        Graminacee
5 25                25.0              21        Graminacee
6 55                50.0              20        Graminacee
  distanza.trappole..cm...da.75a1. angolo.trappole..gradi.AZ..da75a1.
1   NA                              NA
2  920                             264
3  891                             249
4  774                             232
5  697                             243
6 1108                             254
  Cop_Veg_2015_ottavi Cop_Veg_2018_ottavi
1 3.6                 5
2 2.8                 2
3 2.0                 2
4 4.0                 5
5 2.0                 2
6 4.4                 4

### Dati Sforzo di Campionamento
#### Modificati includendo la data in formato R e l'anno

In [4]:
Datioccas <- Datioccas[!is.na(Datioccas$occasione), ]

Datioccas["Data.R"] <- as.Date(Datioccas$DATA, "%d/%m/%Y")
Datioccas["Anno"] <- format(Datioccas["Data.R"],"%Y")
# Eliminiamo la vecchia colonna Data
Datioccas <- subset( Datioccas, select = -DATA)

# Verifichiamo errori nella colonna relativa all'alba
errori  <- subset(Datioccas,ALBA..A.T. != "A" & ALBA..A.T. != "T")
if (nrow(errori) > 0) {
    print("ATTENZIONE: Valori spuri")
    errori
}

# Aggiungiamo una colonna con l'orario stimato
Datioccas$Orario.R <- lapply(Datioccas$ALBA..A.T., function(x) ifelse(x == "A","07:00","17:00"))
Datioccas$Orario.R <- as.character(Datioccas$Orario.R)

head(Datioccas)

  occasione ALBA..A.T. sessione trappole.posizionate trappoleattive
1 1         T          2        30                   30
2 2         A          2        50                   50
3 3         T          2        70                   68
4 4         A          2        70                   70
5 5         T          2        70                   70
6 6         A          2        70                   70
  n..trappole.inattive ID.trappole.inattive neve....S.N.
1 0                    NA                   N
2 0                    NA                   N
3 2                    51/56                N
4 0                    NA                   N
5 0                    NA                   N
6 0                    NA                   N
  copertura.nuvolosa....8. Sito  DOY X  Data.R     Anno Orario.R
1 2/8                      COGNE 243 NA 2014-08-31 2014 17:00
2 5/8                      COGNE 244 NA 2014-09-01 2014 07:00
3 0/8                      COGNE 244 NA 2014-09-01 2014 17:00
4 0/8                      COGNE 245 NA 2014-09-02 2014 07:00
5 0/8                      COGNE 245 NA 2014-09-02 2014 17:00
6 0/8                      COGNE 246 NA 2014-09-03 2014 07:00

#### Unione dei dati sullo sforzo di campionamento e quelli metereologici

In [5]:
Datioccas <- merge(Datioccas,temp_prec_grand_crot)
head(Datioccas)

  Data.R     Orario.R occasione ALBA..A.T. sessione trappole.posizionate
1 2014-08-31 17:00    1         T          2        30
2 2014-09-01 07:00    2         A          2        50
3 2014-09-01 17:00    3         T          2        70
4 2014-09-02 07:00    4         A          2        70
5 2014-09-02 17:00    5         T          2        70
6 2014-09-03 07:00    6         A          2        70
  trappoleattive n..trappole.inattive ID.trappole.inattive neve....S.N.
1 30             0                    NA                   N
2 50             0                    NA                   N
3 68             2                    51/56                N
4 70             0                    NA                   N
5 70             0                    NA                   N
6 70             0                    NA                   N
  copertura.nuvolosa....8. Sito  DOY X  Anno Precipitazioni Temperatura.C
1 2/8                      COGNE 243 NA 2014 0               9.9
2 5/8                      COGNE 244 NA 2014 0               4.2
3 0/8                      COGNE 244 NA 2014 0               8.2
4 0/8                      COGNE 245 NA 2014 0               9.3
5 0/8                      COGNE 245 NA 2014 0              10.7
6 0/8                      COGNE 246 NA 2014 0               5.1

### Dati Catture

#### I dati delle catture vanno puliti. Andiamo a rimuovere i campi vuoti ed indeterminati, sostituendoli con NA

In [6]:
Daticatt[Daticatt==""] <- NA
Daticatt[Daticatt=="IND"] <- NA
# Verifichiamo errori nella colonna relativa all'alba

errori  <- subset(Daticatt,ALBA != "A" & ALBA != "T")
if (nrow(errori) > 0) {
    print("ATTENZIONE: Valori spuri")
    errori
}
head(Daticatt)

  ID_cattura DATA       ALBA sessione occasione ID_TRAPPOLA chip    ricattura
1 1          31/08/2014 T    1        1         11          1315302 N
2 2          01/09/2014 A    1        2         6           NA      N
3 3          01/09/2014 A    1        2         11          NA      N
4 4          01/09/2014 A    1        2         35          1314921 N
5 5          01/09/2014 A    1        2         45          1314375 N
6 6          01/09/2014 T    1        3         26          1314305 N
  pelo peso..g. sex eta statoripr NOTE DOY
1 NA   36       F   A   NR        NA   243
2 SI   35       F   A   NR        NA   244
3 SI e 41       M   A   R         NA   244
4 NA   39       F   A   NA        NA   244
5 NA   33       M   G   NR        NA   244
6 NA   45       M   A   R         NA   244

In [7]:
# Per usi futuri
#Daticatt["Marcatura"] <- paste(Daticatt$chip,Daticatt$pelo)

#### Trasformiamo la Data in formato comprensibile da R ed aggiungiamo una colonna per semplificare le analisi di anno in anno

In [8]:
Daticatt["Data_R"] <- as.Date(Daticatt$DATA, "%d/%m/%Y")
Daticatt["Anno"] <- format(Daticatt["Data_R"],"%Y")
# Eliminiamo la vecchia colonna Data
Daticatt <- subset( Daticatt, select = -DATA)

In [9]:
head(Daticatt)

  ID_cattura ALBA sessione occasione ID_TRAPPOLA chip    ricattura pelo
1 1          T    1        1         11          1315302 N         NA
2 2          A    1        2         6           NA      N         SI
3 3          A    1        2         11          NA      N         SI e
4 4          A    1        2         35          1314921 N         NA
5 5          A    1        2         45          1314375 N         NA
6 6          T    1        3         26          1314305 N         NA
  peso..g. sex eta statoripr NOTE DOY Data_R     Anno
1 36       F   A   NR        NA   243 2014-08-31 2014
2 35       F   A   NR        NA   244 2014-09-01 2014
3 41       M   A   R         NA   244 2014-09-01 2014
4 39       F   A   NA        NA   244 2014-09-01 2014
5 33       M   G   NR        NA   244 2014-09-01 2014
6 45       M   A   R         NA   244 2014-09-01 2014

#### Per alcune analisi, risulta utile unire il dataframe delle catture con quello delle trappole

In [10]:
mergedData <- merge(Daticatt, Datitrap, by.x=c("ID_TRAPPOLA"), by.y=c("ID_TRAP"))

In [11]:
head(mergedData)

  ID_TRAPPOLA ID_cattura ALBA sessione occasione chip    ricattura pelo
1 10          19         A    1        10        NA      R         SI 8
2 10          14         A    1        12        1317018 R         E
3 10          33         A    2         3        NA      N         Eg/Fg
4 11          28         A    1        13        NA      R?        D/Fb
5 11           3         A    1         2        NA      N         SI e
6 11          60         A    2        11        NA      N         Eg/Fb
  peso..g. sex ... aspect_deg slope_degr X..COP..VEG..2015 X..COP..VEG..2018
1 31       F   ... 343        0          35                37.5
2 34       F   ... 343        0          35                37.5
3 31       M   ... 343        0          35                37.5
4 27       M   ... 328        0           5                 0.0
5 41       M   ... 328        0           5                 0.0
6 25       F   ... 328        0           5                 0.0
  n_species dominant      distanza.trappole..cm...da.75a1.
1 20        Graminacee     833
2 20        Graminacee     833
3 20        Graminacee     833
4  7        Oxyria digyna 1166
5  7        Oxyria digyna 1166
6  7        Oxyria digyna 1166
  angolo.trappole..gradi.AZ..da75a1. Cop_Veg_2015_ottavi Cop_Veg_2018_ottavi
1 298                                2.8                 3
2 298                                2.8                 3
3 298                                2.8                 3
4 304                                0.4                 0
5 304                                0.4                 0
6 304                                0.4                 0

### Sono stati creati e salvati i nuovi dataframe da utilizzare per le analisi

In [12]:
write.csv2(Daticatt,"Dati-elaborati\\Dati-catture.csv", row.names = FALSE)
write.csv2(Datitrap,"Dati-elaborati\\Dati-trappole.csv", row.names = FALSE)
write.csv2(Datioccas,"Dati-elaborati\\Dati-occasioni.csv", row.names = FALSE)
write.csv2(mergedData,"Dati-elaborati\\Dati-catture-trappole.csv", row.names = FALSE)

In [13]:
### creiamo anche un dataframe che includono le covariate
dati.cov <- Datitrap[,c("Diametro.roccia.1..cm.","Diametro.roccia.2..cm.","Diametro.roccia.3..cm.","alt_m","aspect_deg","slope_degr","n_species","dominant","Cop_Veg_2018_ottavi")] 
dati.cov$dominant <- as.character(dati.cov$dominant)
dati.cov$dominant[is.na(dati.cov$dominant)] <- "Altro"
head(dati.cov)

  Diametro.roccia.1..cm. Diametro.roccia.2..cm. Diametro.roccia.3..cm. alt_m
1  59                    96                     102                    2782.206
2 176                    42                      76                    2781.136
3  51                    88                      62                    2781.067
4  99                    30                      36                    2781.087
5 164                    41                      47                    2781.887
6 130                    31                      36                    2782.237
  aspect_deg slope_degr n_species dominant   Cop_Veg_2018_ottavi
1 234        13         23        Graminacee 5
2 294        16         16        Graminacee 2
3 310         0         13        Graminacee 2
4 293         8         23        Graminacee 5
5 294        11         21        Graminacee 2
6 310         7         20        Graminacee 4

In [14]:
write.csv2(dati.cov,"Dati-elaborati\\Dati-cov.csv", row.names=FALSE)